<div ng-controller="ClientProjectsCtrl">
	<div class="col-md-12">
		<div class="pull-right">
			<button class="btn btn-primary" data-toggle="modal" data-target="#addProjectModal">Add Project</button>
		</div>
		<h4>List of Projects by</h4>
	</div>
	<br>
	<br>
	<br>
	<table class="table table-hover" ng-show="false"> 
		<thead> 
			<tr> 
				<th>#</th> 
				<th>Project Name</th> 
				<th>Cost / hour</th> 
				<th>Start Date</th> 
				<th>End Date</th> 
				<th>Completed</th> 
			</tr> 
		</thead> 
		<tbody> 
			<tr ng-repeat="project in projects"> 
				<th scope="row">1</th> 
				<td>{{ project.name }}</td> 
				<td>{{ project.cost_per_hour }}</td> 
				<td>{{ project.start_date }}</td> 
				<td>{{ project.end_date }}</td> 
				<td>{{ project.completed }}</td> 
			</tr> 
		</tbody> 
	</table>
	<!--Add Project Modal -->
	<div id="addProjectModal" class="modal fade" role="dialog">
	  	<div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Add New  Project</h4>
		      </div>
		      <div class="modal-body">
		        <form name="clientForm">
					<div class="form-group">
						<input ng-model="project.name" class="form-control" type="text" required="required" placeholder="Project Name" pattern="\b[a-zA-Z0-9]+" title="Only AlphaNums, Chars Min: 3 & Max: 50" minlength="3" maxlength="50">
					</div>
					<div class="form-group">
						<input ng-model="project.cost_per_hour" class="form-control" type="text" required="required" placeholder="Cost Per Hour">
					</div>
					<div class="form-group">
						<input ng-model="project.total_cost" class="form-control" type="text" required="required" placeholder="Total Cost">
					</div>
					<div class="form-group">
						<input ng-model="project.start_date" class="form-control" type="text" required="required" placeholder="start date format: YYYY-MM-DD hh:mm">
					</div>
					<div class="form-group">
						<input ng-model="project.end_date" class="form-control" type="text" required="required" placeholder="end date format: YYYY-MM-DD hh:mm">
					</div>
					<div class="form-group">
						<input type="checkbox" ng-model="project.completed" name=""> Completed
					</div>
					<input type="hidden" ng-model="project.client" value="{{ client_id }}" name="">
						
					<div class="form-group">
						<button ng-click="addProject()" class="btn btn-success btn-block pull-right">Add</button>
					</div>
				</form>
				<br>
				<br>
		      </div>
		      <div class="modal-footer">
		        <a ng-href="#/clients" type="button" class="btn btn-default" data-dismiss="modal">Close</a>
		      </div>
		    </div>
	  	</div>
	</div>
</div>