<div ng-controller="ClientProjectsCtrl">
	<div class="col-md-12">
		<div class="pull-right">
			<button class="btn btn-primary" data-toggle="modal" data-target="#addProjectModal">Add Project</button>
		</div>
		<h4>List of Projects by {{ client.name }}</h4>
	</div>
	<br>
	<br>
	<br>
	<div ng-show="!projects.length" style="text-align: center;">
	<br>
		<h3>No Projects Found here!</h3>
	</div>
	<table class="table table-hover" ng-show="projects.length">
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Cost / hour</th>
				<th>Completed</th>
				<th style="text-align: center;">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in projects">
				<td>{{ project.name }}</td>
				<td>{{ project.cost_per_hour }}</td>
				<td>{{ project.completed }}</td>
				<td style="text-align: center;">
					<a ng-href="#/projects/{{ project.id }}">
						<i class="glyphicon glyphicon-folder-open text-primary" style="cursor: pointer; margin-right: 10px" ></i>
					</a>
					<i class="glyphicon glyphicon-pencil text-info" style="cursor: pointer; margin-right: 12px" ng-click="setProject(project)" data-toggle="modal" data-target="#editProjectModal"></i>
					<i class="glyphicon glyphicon-trash text-danger" style="cursor: pointer; margin-right: 7px" ng-click="deleteProject(project)"></i>
				</td>
			</tr>
		</tbody>
	</table>
	<!--Add Project Modal -->
	<div id="addProjectModal" class="modal fade" role="dialog">
	  	<div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Add New  Project</h4>
		      </div>
		      <div class="modal-body">
		        <form name="addProjectForm">
					<div class="form-group">
						<input ng-model="project.name" class="form-control" ng-required="true" type="text" required="required" placeholder="Project Name" pattern="\b[a-zA-Z0-9]+" title="Only AlphaNums, Chars Min: 3 & Max: 50" minlength="3" maxlength="50">
					</div>
					<div class="form-group">
						<input ng-model="project.cost_per_hour" ng-required="true" class="form-control" type="text" required="required" placeholder="Cost Per Hour">
					</div>
					<div class="form-group">
						<input ng-model="project.start_date" class="form-control" type="text"  placeholder="start date format: YYYY-MM-DD">
					</div>
					<div class="form-group">
						<input ng-model="project.end_date" class="form-control" type="text" placeholder="end date format: YYYY-MM-DD">
					</div>
					<input type="hidden" ng-model="project.client" value="{{ client_id }}" name="">

					<div class="form-group">
						<button ng-click="addProjectForm.$valid && addProject()" class="btn btn-success btn-block pull-right">Add</button>
					</div>
				</form>
				<br>
				<br>
		      </div>
		      <div class="modal-footer">
		        <a ng-href="#/clients" type="button" class="btn btn-default" data-dismiss="modal">Close</a>
		      </div>
		    </div>
	  	</div>
	</div>

	<!--Edit Project Modal -->
	<div id="editProjectModal" class="modal fade" role="dialog">
	  	<div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Edit Project</h4>
		      </div>
		      <div class="modal-body">
		        <form name="editProjectForm">
					<div class="form-group">
						<input ng-model="project.name" class="form-control" ng-required="true" type="text" required="required" placeholder="Project Name" pattern="\b[a-zA-Z0-9]+" title="Only AlphaNums, Chars Min: 3 & Max: 50" minlength="3" maxlength="50">
					</div>
					<div class="form-group">
						<input ng-model="project.cost_per_hour" ng-required="true" class="form-control" type="text" required="required" placeholder="Cost Per Hour">
					</div>
					<div class="form-group">
						<input ng-model="project.start_date" class="form-control" type="text"  placeholder="start date format: YYYY-MM-DD">
					</div>
					<div class="form-group">
						<input ng-model="project.end_date" class="form-control" type="text" placeholder="end date format: YYYY-MM-DD">
					</div>
					<input type="hidden" ng-model="project.client" value="{{ client_id }}" name="">

					<div class="form-group">
						<button ng-click="editProjectForm.$valid && editProject()" class="btn btn-success btn-block pull-right">Add</button>
					</div>
				</form>
				<br>
				<br>
		      </div>
		      <div class="modal-footer">
		        <a ng-href="#/clients" type="button" class="btn btn-default" data-dismiss="modal">Close</a>
		      </div>
		    </div>
	  	</div>
	</div>
</div>
